/*____________ GÉNÉRAL ____________*/

body { margin: 0px; padding: 0px; background-color: #DDF2FE; }
#corps_de_page {
	margin: 15px 15px 0px 15px;
	display: inline-block;
	padding: 0px;
	min-width: 460px;
}
#corps_de_page section { display: inline-block; margin: 0px; padding: 0px; }
h1 {
	margin-top: 15px;
	text-align: center;
	color: black;
	font-size: 50px;
	text-shadow: grey 2px 2px 2px;
	font-family: "Harrington";
	font-style : italic;
}
p {
	margin-left: 3px;
	font-size: 1em;
	text-align: justify;
	margin-top: 3px;
	margin-bottom: 3px;
}
footer {
	width: 55%;
	margin: 50px auto 5px auto;
	border-top: 1px solid #868686;
	border-bottom: 1px solid #868686;
	text-align: center;
	color: black;
	font-size: 9px;
}

/*____________ ALGOS ____________*/

.liste_cas_simple { text-align: center; }
.liste_cas_simple .cas {
	display: inline-block;
	width: 150px;
	height: 238px;
	margin: 5px;
	border: 1px solid black;
	padding: 0px;
	list-style: none;
	vertical-align: top;
	text-align: center;
}
.double_vue .cas { width: 300px; }
.liste_cas_simple .cas .nom {
	display: inline-block;
	width: 100%;
	height: 38px;
	margin: 0px 0px 0px 0px;
	background-color: grey;
	text-align: center;
	top: 50%;
}
.liste_cas_simple .cas img {
	position: absolute;
	display: block;
	width: 149.9px;
	height: 149.9px;
	border-top-color: black;
	border-bottom-color: black;
	border-right-color: white;
	border-left-color: transparent;
	border-style: solid;
	border-width: 1px 0px 1.05px 0px;
	background-image: url("images/image_introuvable.png");
	/*transform: translate(-100%,37.1px);*/
	vertical-align: right;
	clip: rect(0px,150px,152px,0px);
}
.double_vue .cas .image_gauche { transform: translate(-299.85px,37.1px); }
.double_vue .cas .image_droite { transform: translate(-150px,37.1px); }
.liste_cas_simple .cas .algo {
	display: inline-block;
	margin: 160px 0px 0px 0px;
	border: none;
	font-size: 12px;
	padding: 0px 7px 0px 7px;
	text-align: center;
	transform: translate(0px,50%);
}
.liste_cas_simple .cas .long {
	margin: 145px 0px 0px 0px;
	transform: translate(0px,50%);
}
.liste_cas_multiple { text-align: center; }
.liste_cas_multiple .cas {
	display: inline-block;
	width: 486px;
	height: 150px;
	margin: 5px;
	border: 1px solid black;
	padding: 0px;
	list-style: none;
	vertical-align: top;
	text-align: left;
}
.liste_cas_multiple .cas .nom {
	display: inline-block;
	width: 326px;
	height: 20px;
	margin: 0px 0px 0px 150px;
	padding: 5px 5px 3px 5px;
	background-color: rgb(180,180,180);
	text-align: center;
	top: 50%
}
.liste_cas_multiple .cas img {
	position: absolute;
	width: 150px;
	height: 150px;
	border-right: 1px solid black;
	background-image: url("images/image_introuvable.png");
}
.liste_cas_multiple .cas .algo {
	display: inline-block;
	width: 300px;
	height: 20px;
	margin: 0px 0px -5px 0px;
	padding: 5px 5px 0px 5px;
	vertical-align: top;
	border-bottom: 1px dotted grey;
	font-size: 12px;
	text-align: left;
}

ul.pllRecognitionCaseList {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.pllRecognitionCase {
	display: inline-block;
	margin-right: 20px;
	width: 160px;
	vertical-align: top;
	text-align: center;
}

/*____________ TABLEAU DES RECORDS ____________*/

table {
	overflow: hidden;
	border-collapse: collapse;
	box-shadow: 3px 3px 2px grey;
	font-size: 12px;
	margin: 10px;
	padding: 0px;
}
td {
	border: 1px solid black;
	background-color: #F3F3F3;
	padding: 1px 5px 1px 5px;
}
th {
	border: 1px solid black;
	background-color: #FFA000;
	height: 20px;
	text-align: center;
}
#records td {
	text-align: center;
}
#records .unr {
	background-color: rgb(150,150,255);
}
#records .uwr {
	background-color: rgb(150,50,255);
}

/*______________ PAGE LIENS UTILES _____________*/

.liens_timers {
	list-style: none;
}
.liens_timers li {
	display: inline-block;
	height: 130px;
	width: 100px;
	border: 1px solid grey;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	margin: 5px;
	vertical-align: top;
	overflow: hidden;
}
.liens_timers img {
	width: 70px;
	height: 70px;
	margin: 10px auto 5px auto;
}
.liens_timers a {
	display: inline-block;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
}


/*_______________ PAGE D'ACCUEIL _______________*/

.liste_accueil {
	text-align: center;
	padding: 0px;
}
.set {
	list-style: none;
	display: inline-block;
	border: 1px solid rgb(200,200,200);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	height: 220px;
	width: 190px;
	margin: 0px;
	text-decoration: none;
	color: black;
}
.set .titre {
	font-size: 19px;
	font-family: Verdana;
	padding-top: 5px;
}
.set .nombre {
	font-size: 15px;
	font-family: Verdana;
	padding-top: 5px;
}
.appris img {
	border: 0px;
	width: 150px;
	height: 150px;
}
.appris {
	background-color: white;
}
.envisage {
	background-color: rgb(200,200,200);
}