/*____________ NAVIGATION ____________*/

nav
{
	position: fixed;
	display: inline-block;
	width: 200px;
	margin-left: 15px;
	margin-top: 15px;
	padding: 0px;
	color: black;
	font-size: 14px;
}

nav section
{
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #868686;
	margin-bottom: 15px;
}

nav .en-tete
{
	display: block;
	margin: 0px;
	background-color: rgb(160,0,30);
	text-align: center;
	color: white;
	text-shadow: black 1px 1px 2px;
	text-decoration: none;
}

nav ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav li
{
	margin: 3px 10px -1px 10px;
	border-bottom: 1px dotted #868686;
	font-size: 12px;
}

nav li a
{
	text-decoration: none;
	color: blue;
	display: block;
}

nav a:hover { color: red; }


#scroll_to_top { position: fixed; left: 10px; bottom: 5px; }
#scroll_to_top img { width: 30px; height: 30px; }


/*____________ BLOCS DE CORPS DE PAGE ____________*/

body { margin: 0px; padding: 0px; background-color: #DDF2FE; }

#corps_de_page
{
	margin: 15px 15px 0px 230px;
	display: inline-block;
	padding: 0px;
	min-width: 460px;
}

#corps_de_page section
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	padding: 0px;
}


/*____________ TITRES ET PARAGRAPHES ____________*/

h1
{
	margin-top: 15px;
	text-align: center;
	color: black;
	font-size: 50px;
	text-shadow: grey 2px 2px 2px;
	font-family: "Harrington";
	font-style : italic;
}

p
{
	margin-left: 3px;
	font-size: 1em;
	text-align: justify;
	margin-top: 3px;
	margin-bottom: 3px;
}


/*____________ FOOTER ____________*/

footer
{
	width: 55%;
	margin: 50px auto 5px auto;
	border-top: 1px solid #868686;
	border-bottom: 1px solid #868686;
	text-align: center;
	color: black;
	font-size: 9px;
}

footer p { text-align: center; }

footer .icone
{
	display: inline-block;
	height: 17px;
	width: 17px;
	margin-left: 5px;
	border-radius: 3px;
	border: 1px solid white;
	box-shadow: 1px 1px 1px grey;
	vertical-align: bottom;
}


/*____________ TABLEAU DES RECORDS ____________*/

table
{
	border: 1px solid black;
	border-radius: 7px 7px 3px 3px;
	overflow: hidden;
	border-collapse: collapse;
	box-shadow: 3px 3px 2px grey;
	font-size: 12px;
	margin: 10px;
	padding: 0px;
}

td
{
	border: 1px solid black;
	background-color: #F3F3F3;
	padding: 1px 5px 1px 5px;
	text-align: center;
}

th
{
	border: 1px solid black;
	background-color: #FFA000;
	height: 20px;
	text-align: center;
}