.liste_cas
{
	border: 1px dotted red;
	text-align: center;
}


.cas_etape
{
	display: inline-block;
	border: 1px dotted black;
	width: 150px;
	text-align: center;
	vertical-align: top;
	position: relative;
	left: -36px;
	margin-left: 10px;
	font-size: 10px;
}

.cas
{
	display: inline-block;
	width: 160px;
	height: 295px;
	border: 1px solid black;
	padding: 0px;
	list-style: none;
}

.cas .nom
{
	display: inline-block;
	width: 150px;
	height: 35px;
	margin: 5px 5px 0px 5px;
	background-color: grey;
	text-align: center;
	top: 50%
}

.cas img
{
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 5px 5px 0px 5px;
	background-image: url("images/image_introuvable.png");
}

.cas .algo
{
	display: inline-block;
	width: 160px;
	height: 40px;
	margin: 0px -5px 0px -5px;
	border: none;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-size: 12px;
}

.cas .bouton_animation
{
	display: inline-block;
	width: 150px;
	height: 45px;
	margin: 4px -5px 0px -5px;
	border: 1px dotted grey;
}