/* General */
:root {
	--color-grey: #d5d5d5;
	--color-light-grey: #e9e9e9;
	--font-inter: inter, sans-serif;	
	--card-section-border-radius: 10px;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-grey);
	font-family: var(--font-inter);
	height: 100vh;
}

/* Header */
header {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	align-items: stretch;
}

span#siteTitle {
	display: flex;
	align-items: center;
}

/* Language */
html[lang=fr] *[lang=en],
html[lang=en] *[lang=fr] {
	display: none;
}

button#toggleLanguage {
	--flag-width: 32;
	--flag-height: calc(var(--flag-width) * 0.6);
	width: calc(var(--flag-width) * 1.4px);
	height: calc(var(--flag-height) * 1.4px);
	background-color: transparent;
	border-width: 0;
	position: relative;
	cursor: pointer;
}

img.flag {
	display: inline-block;
	width: calc(var(--flag-width) * 1px);
	height: calc(var(--flag-height) * 1px);
	border: 1px solid black;
	border-radius: 3px;
	position: absolute;
}

html[lang=fr] img#flag-fr,
html[lang=en] img#flag-en {
	z-index: 1;
	bottom: 0;
	left: 0;
}

html[lang=fr] img#flag-en,
html[lang=en] img#flag-fr {
	z-index: 0;
	top: 0;
	right: 0;
}

/* Navigation */
#navigation {
	width: 80%;
	max-width: 1300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 150px);
	gap: 20px;
}

.navigationCard {
	background-color: var(--color-light-grey);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: center;
	aspect-ratio: 1 / 1.3;
	justify-content: space-between;
	text-decoration: none;
	color: black;
}

.navigationCard__image {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.navigationCard__textZone {
	width: 100%;
	aspect-ratio: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
