/* General */
:root {
	--color-grey: #d5d5d5;
	--color-light-grey: #e9e9e9;
	--font-inter: inter, sans-serif;	
	--card-section-border-radius: 10px;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-grey);
	font-family: var(--font-inter);
	height: 100vh;
}

/* Header */
header {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	align-items: stretch;
}

span#siteTitle {
	display: flex;
	align-items: center;
}

/* Language */
html:has(input[type=checkbox]#isEnglish:checked) *[lang|=fr],
html:has(input[type=checkbox]#isEnglish:not(:checked)) *[lang|=en] {
	display: none;
}

div#toggleLanguage {
	--flag-width: 32;
	--flag-height: calc(var(--flag-width) * 0.6);
	width: calc(var(--flag-width) * 1.4px);
	height: calc(var(--flag-height) * 1.4px);
	border-width: 0;
	position: relative;
}

input[type=checkbox]#isEnglish {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
	appearance: none;
}

input[type=checkbox]#isEnglish::before,
input[type=checkbox]#isEnglish::after {
	content: "";
	position: absolute;
	width: calc(var(--flag-width) * 1px);
	height: calc(var(--flag-height) * 1px);
	border: 1px solid black;
	border-radius: 3px;
	background-size: 100% 100%;
}

input[type=checkbox]#isEnglish::before {
	top: 0;
	right: 0;
}

input[type=checkbox]#isEnglish::after {
	bottom: 0;
	left: 0;
}

html:has(input[type=checkbox]#isEnglish:checked) input[type=checkbox]#isEnglish::before,
html:has(input[type=checkbox]#isEnglish:not(:checked)) input[type=checkbox]#isEnglish::after {
	background-image: url(./images/flags/flagFR.png);
}

html:has(input[type=checkbox]#isEnglish:checked) input[type=checkbox]#isEnglish::after,
html:has(input[type=checkbox]#isEnglish:not(:checked)) input[type=checkbox]#isEnglish::before {
	background-image: url(./images/flags/flagUK.png);
}

/* Navigation */
#navigation {
	width: 80%;
	max-width: 1300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 150px);
	gap: 20px;
}

.navigationCard {
	background-color: var(--color-light-grey);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: center;
	aspect-ratio: 1 / 1.3;
	justify-content: space-between;
	text-decoration: none;
	color: black;
}

.navigationCard__image {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.navigationCard__textZone {
	width: 100%;
	aspect-ratio: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
