/* General */

:root {
	--card-list-gap: 20px;
	--card-border-radius: 10px;
	--card-padding: 20px;
	--card-background-color: white;
	--card-font-color: black;
	--card-font-family: Lato;
}

.cardList {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--card-width, 200px));
	grid-auto-rows: var(--card-height, 275px);
	gap: var(--card-list-gap);
}

.card {	
	border-radius: var(--card-border-radius);
	box-shadow:
		0px 4px 3px 0px rgba(0, 0, 0, 0.1),
		0px 6px 10px 0px rgba(0, 0, 0, 0.1);
	padding: var(--card-padding);
	background-color: var(--card-background-color);
	color: var(--card-font-color);
	font-family: var(--card-font-family);
}

.imageCard {
	--card-image-size: calc(var(--card-width) - 2 * var(--card-padding));
	display: grid;
	grid-template-rows: var(--card-image-size) 1fr;
	grid-auto-rows: 2fr;
	place-items: center;
	text-align: center;
	img, svg {
		width: var(--card-image-size);
		height: var(--card-image-size);
		object-fit: contain;
	}
}

/* Navigation cards */

:root {
	--navigation-card-width: 150px;
	--navigation-card-height: 200px;
}

nav.navigationCardList {
	--card-width: var(--navigation-card-width);
	--card-height: var(--navigation-card-height);
}

a.navigationCard {
	text-decoration: none;
}

img.navigationCard__image[src$="avatar.png"] {
	border-radius: 100%;
}

/* Alg cards */

:root {
	--alg-card-width: 200px;
	--alg-card-height: 275px;
}

ul.algCardList {
	--card-width: var(--alg-card-width);
	--card-height: var(--alg-card-height);
	list-style: none;
}

p.algCard__content {
	font-size: 0.85rem;
	letter-spacing: 0.3px;
}
