/* Language */

html:has(input[type=checkbox]#isEnglish:checked) *[lang|=fr],
html:has(input[type=checkbox]#isEnglish:not(:checked)) *[lang|=en] {
	display: none;
}

/* Header */

header {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	align-items: stretch;
}

span#siteTitle {
	display: flex;
	align-items: center;
}

/* Language toggler */

input[type=checkbox]#isEnglish {
	--flag-width: 32;
	--flag-height: calc(var(--flag-width) * 0.6);
	width: calc(var(--flag-width) * 1.4px);
	height: calc(var(--flag-height) * 1.4px);
	appearance: none;
	cursor: pointer;
	position: relative;
}

input[type=checkbox]#isEnglish::before,
input[type=checkbox]#isEnglish::after {
	content: "";
	position: absolute;
	width: calc(var(--flag-width) * 1px);
	height: calc(var(--flag-height) * 1px);
	border: 1px solid black;
	border-radius: 3px;
	background-size: 100% 100%;
}

input[type=checkbox]#isEnglish::before {
	top: 0;
	right: 0;
}

input[type=checkbox]#isEnglish::after {
	bottom: 0;
	left: 0;
}

html:has(input[type=checkbox]#isEnglish:checked) input[type=checkbox]#isEnglish::before,
html:has(input[type=checkbox]#isEnglish:not(:checked)) input[type=checkbox]#isEnglish::after {
	background-image: url(/images/flags/flagFR.png);
}

html:has(input[type=checkbox]#isEnglish:checked) input[type=checkbox]#isEnglish::after,
html:has(input[type=checkbox]#isEnglish:not(:checked)) input[type=checkbox]#isEnglish::before {
	background-image: url(/images/flags/flagUK.png);
}
