:root {
	--flag-width: 40px;
	--flag-height: calc(var(--flag-width) * 0.6);
	--flag-border-radius: calc(var(--flag-width) * 0.1);
	--input-width: calc(var(--flag-width) * 1.4);
	--input-height: calc(var(--flag-height) * 1.4);
}

/* Header general */

header {
	display: flex;
	padding-block: 20px;
	padding-inline: 30px;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	backdrop-filter: blur(4px);
	mask-image: linear-gradient(to bottom,
		rgba(0, 0, 0, 1) 60%,
		rgba(0, 0, 0, 0.9) 70%,
		rgba(0, 0, 0, 0.7) 80%,
		rgba(0, 0, 0, 0.4) 90%,
		rgba(0, 0, 0, 0) 100%
	);
	& a#siteTitle {
		display: flex;
		align-items: center;
		gap: 10px;
		text-decoration: none;
		& img {
			border-radius: 100%;
			width: 40px;
		}
		& span {
			color: var(--titles-color);
			text-shadow: 1px 1px 5px white;
			font-size: 20px;
			font-weight: 500;
		}
	}
}

/* Language toggler */

input[type=checkbox]#isEnglish {
	html:has(&:checked) *[lang|=fr],
	html:has(&:not(:checked)) *[lang|=en] {
		display: none;
	}
	width: var(--input-width);
	height: var(--input-height);
	appearance: none;
	cursor: pointer;
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: var(--flag-width);
		height: var(--flag-height);
		border: 1px solid black;
		border-radius: var(--flag-border-radius);
		background-size: 100% 100%;
	}
	&::before {
		top: 0;
		right: 0;
	}
	&::after{
		bottom: 0;
		left: 0;
	}
	html:has(&:checked) &::before,
	html:has(&:not(:checked)) &::after {
		background-image: url(/images/flags/flagFR.png);
	}
	html:has(&:checked) &::after,
	html:has(&:not(:checked)) &::before {
		background-image: url(/images/flags/flagUK.png);
	}
}
