/* General */

:root {
	--general-background-color: #e8e8e8;
	--general-font-color: black;
	--general-font-family: inter, sans-serif;
	--titles-color: black;
	--titles-font-family: Mulish;
	--general-padding-inline: clamp(25px, 5vw, 50px);
}

body {
	background-color: var(--general-background-color);
	color: var(--general-font-color);
	font-family: var(--general-font-family);
}

main {
	padding-top: 0;
	padding-bottom: 50px;
	padding-inline: var(--general-padding-inline);
}

/* Titles */

h1, h2, h3, header {
	color: var(--titles-color);
	font-family: var(--titles-font-family);
}

h1, hgroup {
	text-align: center;
}

h1 {
	font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
	font-size: clamp(1.5rem, 3vw, 2rem);
	margin-top: 0.5em;
	margin-bottom: 0.75em;
}

h2:not(:first-of-type),
:has(h2) ~ :has(h2) h2 {
	margin-top: 1.5em;
}

hgroup#main-title span.subtitle {
	display: block;
	color: rgb(from var(--titles-color) r g b / 0.6);
	font-size: clamp(1.25rem, 2.5vw, 1.75rem);
	font-style: italic;
}
