:root {
	--table-border-radius: 10px;
	--table-header-height: 60px;
	--table-row-height: 50px;
	--table-padding-inline: 50px;
	--table-dark-color: #363640;
	--table-light-color: #eaeaea;
	--table-light-color-odd: #e4e4e4;
	--table-light-color-middle: #e7e7e7;
	--table-light-color-hover: #e0e0e0;;
	--table-font-family: Lato;
}

div.table-outer-container {
	width: clamp(500px, 80%, 1500px);
	margin-inline: auto;
	border-radius: 10px;
	overflow: hidden;
}

div.table-inner-container {
	overflow-x: auto;
}

table {
	width: 100%;
	border-radius: var(--table-border-radius);
	overflow: hidden;
	border-collapse: collapse;
	font-family: var(--table-font-family);
}

thead tr {
	height: var(--table-header-height);
	background-color: var(--table-dark-color);
	color: var(--table-light-color);
	text-align: left;
}

th {
	font-weight: normal;
}

tbody {
	background-color: var(--table-light-color-middle);
	color: var(--table-dark-color);
}

tbody tr {
	height: var(--table-row-height);
}

tbody tr:nth-child(even) {
	background-color: var(--table-light-color);
}

tbody tr:nth-child(odd) {
	background-color: var(--table-light-color-odd);
}

tbody tr:hover {
	background-color: var(--table-light-color-hover);
}

:is(th, td).numeric {
	text-align: right;
}

/* Non-grid */

table:not(.table-grid) :is(th, td):is(:nth-child(1 of :not([lang=en])), :nth-child(1 of :not([lang=fr]))) {
	padding-left: var(--table-padding-inline);
}

table:not(.table-grid) :is(th, td):is(:nth-last-child(1 of :not([lang=en])), :nth-last-child(1 of :not([lang=fr]))) {
	padding-right: var(--table-padding-inline);
}

table:not(.table-grid) :is(th, td):not(:nth-child(1 of :not([lang=en]))):not(:nth-child(1 of :not([lang=fr]))) {
	padding-left: calc(var(--table-padding-inline) / 2);
}
